
html, body, #root, #root>div {
  height: 100%;
  background-color: #bfee14;
}

.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.title {
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 10rem;
  color: #3c8005;
  margin-top: -8rem;
  margin-left: .6rem;
}

div.imageDiv a:hover {
  text-decoration: none;
}

button {
  border: none;
  background-color: #bfee14;
}

.logout {
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #183302;
  margin-top: -41rem;
  margin-right: -100rem;
  margin-bottom: -19rem;
}

.heading {
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #3c8005;
  margin-left: 2rem;
  margin-top: -2rem;

}

.subheading {
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #183302;
  margin-left: 3rem;
}

ul, #modalheader, #modalform {
  font-family: 'Blinker', sans-serif;
  font-size: 1.5rem;
  color: #183302;
  margin-left: 3rem;
}

.submit, .cancel, #modalButton {
  width: 10%;
  font-family: 'Blinker', sans-serif;
  background-color: #3c8005;
  border: #183302 4px solid;
  border-radius: 10px;
  /* display: flex;
  align-items: center; */
  text-align: center;
  padding: .5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 2rem;
  line-height: 1;
  color: #dfecd3;
  font-weight: bold;
}

.submit:hover, .cancel:hover {
  background-color: #dfecd3;
  border: #3c8005 3px solid;
  color: #183302;
}

.navbar {
  width: 100%;
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  background-color: #183302;
  font-size: 1.5rem;
  color: #bfee14;
  margin-top: -10.5rem;
  margin-bottom: 3rem;
}

.navbar-icon {
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.navbar-brand:hover, .navbar:hover {
  color: #ee5914;
  font-weight: bold;
}

#modalButton:hover {
  background-color: #dfecd3;
  border: #183302 4px solid;
  color: #3c8005;
}

th {
  font-family: 'Blinker', sans-serif;
  font-size: 2rem;
  color: #183302;
  margin-left: 4rem;
}

td {
  font-family: 'Blinker', sans-serif;
  font-size: 1.5rem;
  color: #183302;
  margin-left: 4rem;
}

table {
  margin-left: 4rem;
}

form {
  font-family: 'Blinker', sans-serif;
  width: 82.5%;
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #183302;
  margin-left: 2rem;
  border: 3px solid #183302;
}

#mainCardDiv {
  font-family: 'Blinker', sans-serif;
  margin: 50px;
  
}

h2 {
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #183302;
}

#inventoryDiv, #assemblyDiv, #qcDiv, #completedDiv, #cancelledDiv {
  font-family: 'Blinker', sans-serif;
  /* display: flex;
  align-content: center; */
  border: #081101 4px solid;
  border-radius: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  height: 30%;
}

#inventoryDiv, #assemblyDiv {
  margin-top: -2rem;
}

#cancelledDiv {
  display: flex;
  align-content: flex-start;
  width: 50%;
  margin-top: -4rem;
  margin-left: 500px;
  margin-right: 550px;
  /* font-family: 'Blinker', sans-serif; */
}

.deleteOrder {
  font-size: 2rem;
  font-weight: bold;
  width: 10%;
  font-family: 'Blinker', sans-serif;
  background-color: #e40e06;
  border: #081101 4px solid;
  border-radius: 10px;
  display: flex;
  padding: .5rem;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  line-height: 1;
  color: #eed7d7;
  font-weight: bold;
  text-align: center;
  /* align-content: center; */
  padding: .5rem;
  padding-bottom: 1rem;
}

.deleteOrder:hover {
  background-color: #eed7d7;
  border: #e40e06 4px solid;
  color: #e40e06;
}

.profileDiv {
  margin-top: -0rem;
  margin-left: 3rem;
}

.userPic {
  margin-bottom: 1.5rem;
  border: #183302 5px solid;
  border-radius: 12px;
}