$border: 1px solid black;

tr {
    margin: 3;
    padding: 3;
    border: $border;
    width: 100%;
}

td {
    border: $border;
 }

div {
    float: left
}

// #todo {
//     float: left;
// }

// #inProgress {
//     float: left;
// }

// #completed {
//     float: left;
// }