#mainCardDiv {
    margin: 50px;
}

h2 {
    font-size: 36px;
}

#cancelledDiv {
    margin-left: 200px;
    margin-right:200px;
}

#cancelledDiv h2 {
    text-align: center;

}

#modalHeader {
    font-size: 34px;
}

#modalForm {
    margin-top: 20px;
}

#modalButton {
    margin-left: 300px;
    margin-right: 300px;
    width: 250px;
    height: 50px;
}